*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  padding-left:10px;
  height: 14vh;
}
header p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 30px;
  height: 56%;
  width: 72px;
}
header p:hover{
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.5s;
}
header p:active{
  background-color: gray;
}

.pinterest{
  height: 30%;
  transition: 0.3s;
 }
 .pinterest:hover{
  cursor: pointer;
  height: 60%;
 }

 .buscador{
  background-image:url(lupa.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-color: rgb(228, 226, 226);
  height: 60%;
  width: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 30px;
  margin-left: 15px;
  padding-left: 40px;
  
 }

 header i{
  font-size: 24px;
 border-radius: 25px;
 padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 }
  header i:hover{
    background-color: rgb(228, 226, 226);
    cursor: pointer;
    transition: 0.5s;
  }
  .perfil {
    height: 30px;
    width: 30px;
    border-radius: 25px;
  }
  .perfil:hover{
    cursor: pointer;
  }

  main{

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 25px;
    row-gap: 15px;
    padding: 30px;
    }
    
    img{
        width: 270px;
        height: 270px;
        object-fit: contain;
        border-radius: 80px;
    }

.grid-container:hover{
    cursor: pointer;
    height: 70%;


}