*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  padding-left:30px;
  height: 13vh;
}
header p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 30px;
  height: 60%;
  width: 70px;
}
header p:hover{
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.5s;
}
header p:active{
  background-color: gray;
}

.pinterest{
  height: 30%;
  transition: 0.3s;
 }
 .pinterest:hover{
  cursor: pointer;
  height: 40%;
 }

 .buscador{
  background-image:url() ;
  background-size: contain;
  background-position: 5px 5px;

  background-color: rgb(228, 226, 226);
  height: 60%;
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 30px;
  margin-left: 15px;
  padding-left: 40px;
 }
 
main{
  background-color: rgb(157, 252, 220);
  height: 70vh;
}
